<div class="col period-col"><b>INICIO:</b> {{ start }}</div>
<div class="col period-col"><b>FIN:</b> {{ end }}</div>
<div class="col text-right info-consumption"><i class="fas fa-bolt"></i> {{ consumption|number_format }}</div>