{% extends 'client_base.html.twig' %}

{% block body %}
	<div class="panel-box-title">
      <div class="panel-box-title-gradient-line"></div>
      <h2>Cargar un dispositivo</h2>
      <h4 class="panel-info">Para cargar un dispositivo escoja un tipo de la lista, e ingrese un nombre descriptivo.
        Recuerde tildar si es smart o no. Podrá borrar el dispositivo más adelante.</h4>
      </div>
    </div>
    <div class="panel-form">
      <form action="/device_load/" method="post">
      	<input type="hidden" name="rid" value="{{ rid }}"/>
        <div class="form-group">
          <label for="inputDevice">Nombre del dispositivo</label>
          <br>
          <input type="text" name="device_name" class="form-control form-input-b" id="inputDevice" aria-describedby="deviceHelp" placeholder="Ingrese un nombre">
          <small id="deviceHelp" class="form-text text-muted">Podrás reconocerlo por su nombre en el sistema.</small>
        </div>
        <div class="form-group">
          <label for="inputDevice">Tipo de dispositivo</label>
          <br>
          <select name="device_type" class="form-control  form-input-b" aria-describedby="deviceTypeHelp">
            <option disabled selected hidden>Default select</option>
            {% for info in device_info_table %}
            	<option value="{{ info.name }}">{{ info.name }}</option>
            {% endfor %}
          </select>
          <small id="deviceTypeHelp" class="form-text text-muted">Nos permite vincular tu dispositivo facilmente</small>
        </div>
        <div class="form-check">
          <input type="checkbox" name="device_smart" class="form-check-input" id="checkSmart">
          <label class="form-check-label" for="checkSmart">Smart</label>
        </div>
        <div class="row">
          <div class="col-md-6">
            <a href="dispositivos.html"><button type="button" class="btn btn-secondary btn-load">Cancelar</button></a>
          </div>
          <div class="col-md-6 text-right">
           <button type="submit" class="btn btn-primary btn-load">Cargar</button>
         </div>
        </div>
      </form>
    </div>
{% endblock %}