<h2>Transformador<br> #21934237</h2>
<br>
<h3><b>ID</b>: {{ transformer.id }}</h3>
<br>
<h3><b>ÁREA</b>: {{ transformer.area.areaName }}</h3>
<br>
<h3><b>SUMINISTRO ACTUAL</b>:</h3>
<br>
<label class="actual-transformer-consumption-map"><i class="fas fa-bolt"></i> {{ transformer.energySupplied|number_format }}</label>