<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>Sistema de Gestión Energética</title>
  <meta name="description" content="SGE">
  <meta name="author" content="G13">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" type="image/png" href="favicon.png"/>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light shadow-sm p-3 mb-5 bg-white rounded">
  <a class="navbar-brand" href="#">
    <div class="logo">
      <img src="logo.svg">
    </div></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="index.html">Map</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link">Panel</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="admin-dispositivos.html">Panel admin</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" style="  color: #3fa9f5;">Hola, <b>$Kichan Pavon</b>	<i class="fas fa-sign-out-alt"></i></a>
      </li>
    </ul>
  </div>
</nav>
  <div class="panel-content">
    <nav class="panel-nav">
      <ul>
        <button type="button" class="btn btn-primary dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Av 9 de Julio 1234</button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </ul>
      <ul>
        <li><a class="active">ESTADO</a></li>
        <li><a href="dispositivos.html">DISPOSITIVOS</a></li>
        <li><a href="reglas.html">AUTOMATIZAR</a></li>
        <li><a href="simplex.html">SIMPLEX</a></li>
        <li><a href="periodos.html">PERÍODOS</a></li>
      </ul>
    </nav>
    <div class="panel-box-title">
      <div class="panel-box-title-gradient-line"></div>
      <h2>Estado de mi Residencia</h2>
      <h4 class="panel-info">Consulte información general de su residencia actualizada en tiempo real.</h4>
    </div>
    <div class="panel-data-recieved">
      <ul class="list-group data-recieved">
        <li class="list-group-item">
          <div class="row">
            <div class="col info-consumption"><i class="fas fa-bolt"></i> Consumo actual</div>
            <div class="col text-right info-consumption">0.12</div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col info-devices"><i class="fas fa-info"></i> Dispositivos totales</div>
            <div class="col text-right info-devices">1</div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col info-devices-smart"><i class="fas fa-info"></i> Dispositivos smart</div>
            <div class="col text-right info-devices-smart">1</div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col info-devices-on"><i class="fas fa-info"></i> Dispositivos prendidos</div>
            <div class="col text-right info-devices-on">1</div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col info-devices-off"><i class="fas fa-info"></i> Dispositivos apagados</div>
            <div class="col text-right info-devices-off">1</div>
          </div>
        </li>
      </ul>
    </div>
  </content>
  <footer class="page-footer font-small blue footer-sge">
    <div class="footer-copyright text-center py-3">SGE - Grupo 13
    </div>
  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="js/bootstrap.min.js"></script>
</body>
</html>
